.mat-toolbar-row,
.mat-toolbar-single-row,
.mat-toolbar-multiple-rows {
    height: 60px;
    min-height: 60px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5E35B1;
    height: 60px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.logo {
    max-height: 30px;
}

.title-group {
    max-height: 30px;
    font-weight: normal;
    color: #FFF;
    font-size: 16px;
}