<div class="container">
    <div class="row">
        <mat-card-title class="title">Cadastro</mat-card-title>
    </div>
</div>
<div class="container">
    <form>
        <div class="row">
            <div class="col-bottom">
                <label class="label-form" for="fname">NOME:</label>
                <input class="input-form" type="text" id="fname" name="name" placeholder="Digite seu nome">
            </div>
            <div class="col-bottom">
                <label class="label-form" for="femail">E-MAIL:</label>
                <input class="input-form" type="email" id="femail" name="email" placeholder="EX: carlos@uol.com.br">
            </div>
            <div class="col-bottom">
                <label class="label-form" for="fsenha">SENHA:</label>
                <input class="input-form" type="password" id="fsenha" name="senha" placeholder="Sua senha precisa ter pelo menos 8 caracteres">
            </div>

        </div>
        <div class="col-center">
            <input type="submit" value="SALVAR">
        </div>
    </form>
</div>