<div class="container">
    <div class="row">
        <mat-card-title class="title">Informações</mat-card-title>
    </div>
    <div class="row">
        <div class="divider-component"></div>
        <mat-divider class="divider"></mat-divider>
    </div>
</div>

<div class="container">
    <form>
        <div class="row">
            <div class="col-bottom">
                <label class="label-form" for="fname">Nome</label>
                <p class="p-form" id="fname" name="name">Thomas Edson</p>
            </div>
            <div class="col-bottom">
                <label class="label-form" for="femail">E-mail</label>
                <p class="p-form" id="femail" name="email">thomasedson@uol.com.br</p>
            </div>

        </div>
    </form>
</div>