.divider-component {
    padding-top: 50px;
}

.divider {
    position: relative;
    left: auto;
    width: 100%;
}

.label-form {
    font-size: 16px;
    font-weight: normal;
}

.p-form {
    font-size: 22px;
    font-weight: bold;
}