/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
    padding-right: 5px;
}

.container {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 53px 14% 39px 14%;
    flex-wrap: wrap;
}

.row {
    width: 100%;
}

.title {
    font-size: 72px;
    font-weight: lighter;
}

.col-bottom {
    padding-bottom: 26px;
}

.buttom {
    text-align: center;
    padding-top: 26px;
}

.required {
    border-radius: 0px 0px 4px 4px;
    padding: 7px 0px 5px 10px;
    margin-top: -2px;
}

.required-message {
    font-weight: 500;
    display: flex;
    place-items: center;
}

.required-error {
    background-color: #FF8C96;
}

.message-error {
    color: #842029;
}

.required-warning {
    background-color: #ffe48c;
}

.message-warning {
    color: #847220;
}

.complete {
    display: none;
}